* { /* margin: 0;
	padding: 0; */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    box-sizing: border-box;
	transition: all .4s ease-in; /* плавный переход */
}

html {
	height: 100%
}
body {
	border-left: : 20px solid #2B81AC;
	border-right: : 20px solid #2B81AC;
	background-color: #3399CC;
	/* min-height: 100%; */
	color: #fff;
	font: 20px “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}
header, main{
	padding: 20px 40px;
	width: 70%;
	margin: 0 auto;
}

footer {
	width: 70%;
	font-size: 18px;
	margin-top: 10px;
	margin-right: 50px;
}
ul:hover li {
	opacity: 0.4;
}
ul li:hover {
	opacity: 1;
}
.list {
	width: 70%;
	font-size: 0;

}
.box {
	/* padding: 20px 20px 20px; */
	font-size: 20px;
	text-align: center;
	vertical-align: bottom;
}
.box1{	
	display: inline-block;
	width: 50%;
	padding: 40px 20px; 
	border: 2px solid #fff; 
}
.box2{
	display: inline-block;
	width: 25%;
	padding: 40px 20px;
	border: 2px solid #fff; 
	}
.box3{
	display: inline-block;
	width: 100%;
	padding: 40px 20px;
	border: 2px solid #fff; 
	}
.box1 li:focus,
.box1 li:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.box2 li:focus,
.box2 li:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.box3 li:focus,
.box3 li:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.color_Paris{
	background: #33CCCC;
}
.color_Belgrade{
	background: #996699;
}
.color_Moscow{
	background: #C24747;
}
.color_TelAviv{
	background: #E2674A;
}
.color_Cair{
	background: #FFCC66;
}
.color_NewYork{
	background: #99CC99;
}
.color_NewDelhi{
	background: #669999;
}
.color_SanFrancisco{
	background: #CC6699;
}
.color_Tokio{
	background: #339966;
}
.color_Sydney{
	background: #666699;
}
.wi{
	font-size: 30px;
}